@import "tailwindcss";

:root {
  --color-bg: #0f1a0e;
  --color-accent-orange: #e07b39;
  --color-accent-yellow: #d4a843;
  --color-text: #e8e4d9;
}

body {
  background-color: #111111;
  position: relative;
}

.content-mask {
  -webkit-mask-image: linear-gradient(to right,
      transparent,
      black 100px,
      black calc(100% - 100px),
      transparent);

}