@import "tailwindcss";

@theme {
  --color-dominant: #093419;
  --color-secondary: #136d34;
  --color-accent: #5af192;
  --color-sand: #e8e4d9;
}

body {
  background-color: #093419;
  position: relative;
}

a {
  color: var(--color-accent);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
